<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header whiteft">
                logo <img/>
            </div>
            <div class="collapse navbar-collapse whiteft" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav whiteft"> </ul>
                <ul class="nav navbar-nav navbar-right whiteft">
                    <li class="btn-lgrey" role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li class="btn-blue"><a href="#">Messages</a></li>
                </ul>
            </div>
        </div>
</nav>