<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header whiteft">
                <img class="logo" src="assets/data/Images/MainLogo.png"/> TIMS
            </div>
            <div class="collapse navbar-collapse whiteft" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav whiteft"> </ul>
                <ul class="nav navbar-nav navbar-right whiteft">
                    <li class="btn-lgrey" role="presentation" class="active">  <a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li role="presentation"><a routerLink="/contacts" routerLinkActive="active">Contacts</a></li>
                    <li role="presentation"><a routerLink="/gis" routerLinkActive="active">GIS</a></li>
                    <li class="btn-blue"><a routerLink="/it" routerLinkActive="active">IT</a></li>
                    <li class="btn-blue"><a routerLink="/graphic" routerLinkActive="active">Graphic Design</a></li>
                    <li class="btn-blue"><a routerLink="/architecture" routerLinkActive="active">Architecture</a></li>
                </ul>
            </div>
        </div>
</nav>