      <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default h400px bdcl content" href="Home/directive/home-gis.component.html">
                    <img src="../../assets/data/Home Images/A7part2.png" class="img">
                    <div class="panel panel-body overlay txt">
                        <div ng-include="'Home/directive/home-gis.component.html'" >
                            <h2>GIS</h2>
                            stands for Geographic Interface Systems. kajhkmasdkjhawouehd a;jsjdouahwdoijazslxdna oiwjdasoidjoaiwihjd oiajhsd
                            aosihjdajhsoidhaowuhd aoksjdjlahwoidjalksj aoiwjd;oiajsokdao9wi
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default h400px bdcl content">
                    <img src="../../assets/data/Home Images/A7part2.png" class="img">
                    <div class="panel panel-body overlay txt">
                        <div ng-include="'Home/directive/home-gis.component.html'" >
                            <h2>IT</h2>
                            stands for Information Tecnology. kajhkmasdkjhawouehd a;jsjdouahwdoijazslxdna oiwjdasoidjoaiwihjd oiajhsd
                            aosihjdajhsoidhaowuhd aoksjdjlahwoidjalksj aoiwjd;oiajsokdao9wi
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default h400px bdcl content">
                    <img src="../../assets/data/Home Images/A7part2.png" class="img">
                    <div class="panel panel-body overlay txt">
                        <div ng-include="'Home/directive/home-gis.component.html'" >
                            <h2>GD</h2>
                            stands for Graphic Design. kajhkmasdkjhawouehd a;jsjdouahwdoijazslxdna oiwjdasoidjoaiwihjd oiajhsd
                            aosihjdajhsoidhaowuhd aoksjdjlahwoidjalksj aoiwjd;oiajsokdao9wi
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default h400px bdcl content">
                    <img src="../../assets/data/Home Images/A7part2.png" class="img">
                    <div class="panel panel-body overlay txt">
                        <div ng-include="'Home/directive/home-gis.component.html'" ></div>
                        <h2>Architecture</h2>
                        buildingplans, attachments. kajhkmasdkjhawouehd a;jsjdouahwdoijazslxdna oiwjdasoidjoaiwihjd oiajhsd
                        aosihjdajhsoidhaowuhd aoksjdjlahwoidjalksj aoiwjd;oiajsokdao9wi 
                    </div>
                </div>
            </div>
        </div>
